extends ../layout/common
block content
  .container
    .row
      .col-5
        h1  Login

        form( method="post")
          .form-group
            label(for="email") Email
            input#email.form-control(type="text", name="email" value=value ? value.email : '')
          .form-group
            label(for="password") Password
            input#password.form-control(type="text", name="password" value=value ? value.password : '')

            button.btn.btn-primary.mt-3 Login
        if errors
          each error in errors
            p.alert.alert-danger=error